<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cakes Shop Service Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/myScript.js}"></script>
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://cdn.jewelryimages.net/static/domains/jewelerstouch/images/store-pics/Vintage-Gold-Diamond-Engagement-Ring-Isolated-on-Black-Background.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
    <div th:insert="fragments/header :: header"></div>

    <div class="input-group mb-3 d-flex justify-content-center">
        <div class="input-group-append">
                <div class="container" style="margin-top:50px;">
                    <table style="width: 100%">
                        <tbody>
                            <form th:action="@{/cart}" method="post" th:each="cakes : ${cakes}"}>
                                <tr>
                                    <div class="card custom-card text-center mr-2 mt-2 ml-2 mb-2"
                                         style="width: 20rem; display: inline-block; margin-right: 30px;">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${'Cakes : ' + cakes.getName()}">Id</h5>
                                            <img alt="" class="rounded-circle img-responsive mt-2"
                                                 height="128" th:src="${'../../images/'+ cakes.name +'.jpg'}" width="128">
                                            <p class="card-text" style="text-align:left;" th:text="${'Weight    : ' + cakes.weight }">Weight</p>
                                            <p class="card-text" style="text-align:left;" th:text="${'Avaliable : ' + cakes.amount }">Amount</p>
                                            <p class="card-text" style="text-align:left;" th:text="${'Price  : ' + cakes.price + ' Baht'}" th:value="${cakes.price}">Price</p>

                                            <button sec:authorize="hasRole('USER')" type="button" class="btn btn-light increase" th:onclick="decrementValue([[${cakes}]])"  value="-" style="border-style: hidden;">-</button>
                                            <input  sec:authorize="hasRole('USER')" type="number" style="text-align: center;border-style: hidden;background:none;"   th:id="${cakes.id+'increase'}"  value="0" />
                                            <button sec:authorize="hasRole('USER')" type="button" class="btn btn-light" th:onclick="incrementValue([[${cakes}]])"  value="+" style="border-style: hidden;">+</button>
                                            <input hidden type="text" th:name="name" th:value="${cakes.id}">
                                            <input  hidden type="number" style="text-align: center;border-style: hidden;background:none;"  th:id="${cakes.id+'increase2'}" th:name="num" value="0" />
                                        </div>
                                        <div>
                                            <button sec:authorize="hasRole('USER')" class="btn btn-primary" type="submit">Add</button>
                                            <a sec:authorize="hasRole('ADMIN')" style="text-align: center" th:href="@{/cakes/edit/{id}(id=${cakes.id})}" ><button type="button" class="btn btn-primary">Edit</button></a>

                                        </div>
                                    </div>
                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    </div>
</body>
</html>