<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Misty Cakes Shop Service Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/myStyle.css}">
</head>
<style>
    body{
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://t4.ftcdn.net/jpg/02/22/17/97/360_F_222179720_h4HaoaN4ZSASTZ63GEZFLTzVnj9aElCl.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10" style="padding-top: 22%;align-items:center;">
            <h1 style="text-align:center; color: white;font-size: 80px;">WELCOME TO <br>MISTY CAKE SHOP
            </h1>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>

</body>
</html>