<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cakes Shop Service Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/myStyle.css}">
</head>
<style>
    body{
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://cdn.jewelryimages.net/static/domains/jewelerstouch/images/store-pics/Vintage-Gold-Diamond-Engagement-Ring-Isolated-on-Black-Background.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10" style="padding-top: 22%;align-items:center;">
            <h1 style="text-align:center; color: white;font-size: 80px;">Title <br>Title
            </h1>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>

</body>
</html>